@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Inter", sans-serif, monospace;
  line-height: 1.4;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
}

header {
  position: sticky;
  top: 0;
  margin-top: 0;
  background-color: #fff;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 85vw;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav h1,
nav ul li {
  cursor: pointer;
}

nav ul li {
  font-size: 1.8rem;
}

nav ul li img {
  height: 22px;
}

nav ul li:hover {
  border-bottom: gray 2px solid;
}

button {
  cursor: pointer;
}

button:hover {
  scale: calc(1.007);
  opacity: 0.7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  color: black;
}

.back_to_top {
  position: sticky;
  top: 85%;
  left: 95%;
  border: 1px solid #6b46c1;
  background-color: #6b46c1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
}

.index-main {
  margin: 0 auto;
  width: 85%;
}

.index-hero {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-main {
  width: 70%;
  margin: 0 auto;
}

.about-hero {
  display: flex;
  flex-direction: column;
}

.about-hero h1 {
  font-size: 3rem;
  color: #2d3748;
  margin: 1% 0 2% 0;
}

.about-hero .credits {
  display: flex;
}

.credits {
  color: #718096;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.credits .writer {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 2%;
}

.credits .day,
.credits .date {
  margin-right: 3%;
}

.about-content {
  margin: 5% 0;
  color: #718096;
  font-weight: 400;
}

.about-content h3 {
  color: black;
  font-weight: 700;
}

.about-content h1 {
  color: black;
  font-weight: 700;
}

.hero-title {
  font-size: 6rem;
  font-weight: 700;
}

.hero-desc {
  font-weight: 400;
  color: #4a5568;
  cursor: pointer;
}

.hero-img {
  border-radius: 65px;
}

.cardsbar {
  margin-top: 7%;
}

.card-main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.45);
  transition: scale 0.7s;
}

.card-main-text {
  padding: 0 5%;
  color: #718096;
}

.card-title {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: black;
}

.card-footer {
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.card-date {
  color: #718096;
}

.read_more {
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: white;
}

.card-img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

.cards-others {
  margin: 7% auto;
  display: flex;
  gap: 5rem;
}

.card-other {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.45);
  transition: scale 1s;
}
.card-main:hover,
.card-other:hover {
  scale: calc(1.01);
}

.card-other img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.card-other-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 5% auto;
}

.card-other-desc {
  padding: 2%;
  color: #718096;
}

.card-other .card-footer {
  margin: 5% 3%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.card-hero {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: space-around;
  background-color: aliceblue;
  border-radius: 15px;
}

.card-hero-text {
  margin: 0 2%;
}

.card-hero .read_more {
  background-color: aliceblue;
}

.card-hero img {
  border-radius: 0px 15px 15px 0px;
}

.card-hero-title {
  font-size: 6rem;
  font-weight: 900;
}

.see_more {
  margin-top: 5%;
  margin-left: 91%;
  background-color: #6b46c1;
  border: none;
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.see_more .text {
  margin-right: 5px;
}

button .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

footer {
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  font-size: 2rem;
  font-weight: 400;
}
