@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif, monospace;
}

.container {
  margin-top: 1%;
  width: 85%;
  /* background-color: red; */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 4rem;
  cursor: pointer;
}

.navicon {
  height: 2rem;
  cursor: pointer;
}

.hero {
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
}

.hero-img {
  height: 27rem;
}

.hero-text {
  margin: 0px 5%;
  display: flex;
  flex-direction: column;
}

.hero-offers {
  margin-top: 10%;
  width: fit-content;
  padding: 1.5% 4%;
  background-color: #149f39;
  color: aliceblue;
  text-transform: capitalize;
  transition: opacity 0.5s;
}

.hero-offers:hover {
  cursor: pointer;
  opacity: calc(0.7);
}

.hero-title {
  margin-top: 5%;
  text-transform: capitalize;
  font-size: 5rem;
}

.hero-filler_text {
  margin-top: 2%;
  font-size: 0.8rem;
  width: 85%;
}

.hero-explore {
  background-color: #ffbf66;
  color: aliceblue;
  width: fit-content;
  padding: 1.5% 4%;
  text-transform: capitalize;
  margin-top: 4%;
  transition: opacity 0.5s;
}

.hero-explore:hover {
  cursor: pointer;
  opacity: calc(0.7);
}

.cards {
  display: flex;
  margin: 5% 0 0 5%;
  justify-content: space-evenly;
}

.card {
  margin: 5%;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 5px;
  transition: box-shadow 0.5s, scale 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 1px 5px rgba(128, 128, 128, 0.2);
  scale: calc(1.004);
}

.card-text {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.card-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
}

.card-filler_text {
  font-size: 0.7rem;
}

hr {
  background: black;
  height: 2px;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  margin-top: 4rem;
  width: fit-content;
  padding: 4% 6%;
  background-color: #149f39;
  color: aliceblue;
  text-transform: capitalize;
  transition: opacity 0.5s;
  border: none;
  cursor: pointer;
}

.menu-button:hover {
  opacity: calc(0.7);
}

.menu-explore {
  margin: 1.4rem 0px;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.menu-collage {
  display: grid;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
  gap: 10px;
}

.menu-collage img {
  border-radius: 5px;
  transition: scale 0.25s ease-in-out;
}

.menu-collage img:hover {
  scale: calc(1.04);
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}

.footer {
  margin-top: 10%;
  background-color: #fbe0bc;
  width: 100%;
}

.footer-wrapper {
  width: 85%;
  margin: 2% auto 6% auto;
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-title {
  font-weight: 600;
  color: #565656;
}

.footer-links {
  margin: 20% 0px;
  font-weight: 300;
}

.footer-link{
  cursor: pointer;
}

.footer-link:hover{
  text-decoration: underline;
}

.footer-form {
  margin: 10% 0px;
}

.footer-form input{
  width: 150%;
  padding: 2%;
}

.footer-icons{
  margin: 5% 0px;
  display: flex;
  justify-content: space-evenly;
}

.footer-icon{
  max-width: 32px;
  margin: 7px 7px 7px 0px;
  cursor: pointer;
}